includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 5
  paths:
    - src
    - tests

  fileExtensions:
    - php
    - inc
    - module
    - install
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#iterable type#'
    - '#^Unsafe usage of new static#'
    - '#Form extends @internal class#'
    - '#^Class .* extends @internal class#'
    - '#^Plugin definitions cannot be altered.#'
    - '#Missing cache backend declaration for performance.#'
    - '#Plugin manager has cache backend specified but does not declare cache tags.#'
    - '#Drupal calls should be avoided in classes, use dependency injection instead#'
